<% if params[:action] == 'search' %>
  <div class="results-block">
    <%= bootstrap_flash %>
  </div>
<% end %>

<% if @users %>
  <div id="friend-lookup-results" class="wel results-block col-md-10">
    <table class="search-results-table col-md-12">
      <tbody>
        <% @users.each do |friend| %>
          <tr>
            <td>
              <strong>Name:</strong><%= friend.full_name %>
            </td>
            <td>
              <strong>Email:</strong><%= friend.email %>
            </td>
            <td><strong>Profile</strong>
              <%= link_to "View profile", user_path(friend), class: "btn btn-xs btn-success" %>
              <% if current_user.not_friends_with?(friend.id) %>
                <%= link_to "Add friend", add_friend_path(user: current_user, friend: friend),
                          class: "btn btn-xs btn-success", method: :post %>
              <% else %>
                <span> class="label label-primary">Already friends</span>
              <% end %>

            </td>
          </tr>
        </tbody>
    </table>
  </div>
  <% end %>
<% end %>